.popupModal_Overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1000;
}

.popupModal_Content{
    position: fixed;
    width: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #121258; 
    padding: 90px;
    z-index: 1000;
    max-height: 95vh;
    border-radius: 3px;
}

.close{
    position: absolute;
    right: 5%;
    top: 5%;
    background: none;
    border: none;
    color: #fff;
    font-size: 30px;
}