.toolCard{
    background: linear-gradient(124deg, rgba(40,41,123,1) 53%, rgba(26,31,99,1) 100%);
    height: 255px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    text-align: center;
    box-shadow: 16px 20px 40px -25px rgba(10,0,49,0.4);
    -webkit-box-shadow: 16px 20px 40px -25px rgba(10,0,49,0.4);
    -moz-box-shadow: 16px 20px 40px -25px rgba(10,0,49,0.4);
    cursor: pointer;
}

.toolCard:hover{
    transform: translate(0, 3px);
    transition: all 0.2s ease-in-out;
    box-shadow: 10px 10px 12px -12px rgba(24, 27, 100, 0.205);
    -webkit-box-shadow: 10px 10px 12px -12px rgba(24, 27, 100, 0.205);
    -moz-box-shadow: 10px 10px 12px -12px rgba(24, 27, 100, 0.205);
}

.toolCard-content img{
    width: 65px;
    margin-bottom: 20px;
}