.hero-section{
    margin-top: 25px;
    height: 75vh;
}

.hero-section p{
    width: 50%;
}


.section-hacked_form{
    margin-top: 80px;
}

.section-info{
    position: relative;
    height: 90vh;
    background-repeat: no-repeat;
    background-position: center;
}

.section-info_textBox{
    position: absolute;
    background-color: #48e4d969;
    width: 550px;
    border-radius: 3px;
}

.section-info_textBox p {
    padding: 25px 25px 10px 25px;
    font-size: 18px;
}

.section-info_textBox:nth-child(1) {
    top: 10%;
    
}

.section-info_textBox:nth-child(2) {
    bottom: 10%;
    
}

.section-info_textBox:nth-child(3) {
    top: 45%;
    right: 10%;
}

.sheld_img{
    width: 80%;
}


.hero_p{
    color: rgba(255, 255, 255, 0.808);
    
}

p{
    color: #fff;
}

a{
    list-style: none;
    text-decoration: none;
    color: #fff;
}

.email-input{
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px;
    border-radius: 4px;
}

.input-error{
    border: 2px solid #f54c4c;
}

.footer_logo-box{
    display: flex;
    align-items: center;
}

.leakedData{
    margin-bottom: 100px;
}

.leakedData-container{
    display: flex;
    margin-bottom: 15px;
}

.leakedData-container img{
    width: 6%;
    height: 10%;
}

.lottieHero-img{
    position: absolute;
    z-index: -1;
    top: 12%;
    right: 8%;
}

.error-text{
    font-size: 14px;
    color: #f54c4c;
    margin-left: 5px;
}




@media only screen and (max-width: 992px) {


    .lottieHero-img{
        top: 20%;
        right: 4%;
     
    }

    .hero-section p{
        width: 70%;
    }
    
}

@media only screen and (max-width: 768px) {

    .hero-section{
        height: 62vh;
    }

    .section-info_textBox{
        position: static;
        width: 100%;
        height: 100px;
        margin: 70px 0;
        text-align: center;
        border-radius: 3px;
    }

    .lottieHero-img{
        right: 0;
        opacity: 0.5;
    }

    .hero-section p{
        width: 100%;
    }
    
}

@media only screen and (max-width: 443px) {
 
}

